:root {
    --bg1: #eef;
    --bg2: #ddf;
    --bg3: #003479;
    --bg4: #f8f8f8;
    --bg5: #eee;
    --bg6: #3278c8;
}
body {
    font-family: sans-serif;
    overflow-y: scroll;
    margin: 0;
}
.nav {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "a b c d";
    background-color: var(--bg4);
    padding: 10px;
    column-gap: 1em;
}
.nav a {
    text-decoration: unset;
    color: unset;
}
.nav span {
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.15s ease;
}
.nav span:hover {
    background-color: var(--bg5);
}
.nav span.current {
    font-weight: bolder;
}
.nav span.link {
    font-size: 0.85em;
}
.main {
    margin: 10px min(10vw - 20px, 150px);
}
.nav span:first-child {
    margin-left: 5px;
}
.nav span:last-child {
    margin-right: 5px;
}
.nav-a {
    grid-area: a;
}
.nav-b {
    grid-area: b;
}
.nav-c {
    grid-area: c;
}
.nav-d {
    grid-area: d;
}

.section {
    padding: 10px;
    background-color: var(--bg1);
    border-radius: 8px;
    margin-bottom: 0.2em;
    cursor: pointer;
    transition: background-color 0.1s;
}
.section:hover {
    background-color: var(--bg2);
}
.section:before {
    content: '\2bc8';
    margin-right: 5px;
    float: none;
}
.section.active:before {
    content: '\2bc6';
    margin-right: 5px;
    float: none;
}
.section-block {
    max-height: 0px;
    transition: max-height 0.1s ease;
    overflow: hidden;
}
.section-body {
    padding: 0.3em 0.3em 2em 0.8em
}
footer {
    font-size: 0.75em;
}
sup {
    font-size: 0.7em;
}
.xp-container {
    display: grid;
    grid-template-rows: auto 85dvh;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "search output"
        "body body";
    column-gap: 0.7em;
    row-gap: 0.7em;
}
.xp-search {
    grid-area: search;
    padding: 5px;
    background-color: #eeffbb;
    border-radius: 8px;
    height: min-content;
}
input.xp-expr {
    font-family: monospace;
    min-width: 25em;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
input.xp-expr:focus-visible:not(.unhighlighted) {
    outline: 0;
    box-shadow: 0 0 0 1px #222, 0 0 0 3px #b9dc0c
}
.xp-output {
    grid-area: output;
    /* height: 4em; */
    max-height: 5em;
    overflow-y: scroll;
    font-size: smaller;
    white-space: pre-wrap;
    background-color: #eeffbb;
    border-radius: 8px;
    padding: 3px;
}
.xp-body {
    grid-area: body;
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: "content html";
    column-gap: 1rem;
    overflow-y: scroll;
    height: auto;
    padding: 5px;
    background-color: var(--bg4);
    border-radius: 8px;
}
.xp-content {
    grid-area: content;
}
.xp-html {
    grid-area: html;
    white-space: pre;
    overflow-x: scroll;
    height: max-content;
    font-family: monospace;
}
h2 {
    text-align: center;
}

.xp-table td {
    padding: 5px;
    font-size: 0.9em;
}
.xp-mono-1 td:nth-child(1) {
    font-family: monospace;
    padding-right: 15px;
}
.xp-mono-2 td:nth-child(2) {
    font-family: monospace;
    padding-right: 15px;
}
.pad-extra td, th {
    padding: 5px 15px;
}
.mono {
    font-family: monospace;
}
summary > h3 {
    display: inline;
}
summary > h4 {
    display: inline;
}
summary {
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}
.testable {
    text-decoration: underline dotted #888;
    cursor: pointer;
}
h5 {
    margin-bottom: 0.7em;
}
ul.subtext li > span {
    display: block;
    font-size: 0.9em;
    color: var(--bg6);
    margin-top: 4px;
}
ul.subtext li {
    margin: 8px 0px 12px 0px;
}

/* Questions*/
.exercise {
    background-color: var(--bg4);
    border-radius: 5px;
    margin-bottom: 0.4em;
    padding: 5px;
}
.exercise-container {
    margin: 5px;
}
.exercise-container .extra {
    color: #777
}
.exercise-container li:hover {
    color: #0b41b6;
    cursor: pointer;
}
div.masked span.testable {
    display: none;
}
div.solution {
    padding: 5px;
    cursor: pointer;
}
div.solution p {
    display: inline;
    font-size: 0.8em;
    margin-left: 1.5em;
}
div.masked p {
    display: none;
}
div.revealed span.mask {
    display: none;
}

/* Other */
/* .YELLOW {
    background-color: #fcfc42aa;
} */

/* XPath highlighting */
.highlight-example {
    background-color: #fcafffaa !important;
}
.highlight {
    background-color: #d0ff27aa !important;
}
.highlight-attr {
    background-color: #71fdf2aa !important;
}
.highlight-text {
    background-color: #fc8135aa !important;
}
